@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#__next {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}